{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": true,
        "targets": {
          "browsers": [
            "last 2 chrome versions"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        "env"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
